@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
}
i{
    font-size: 1.7rem;
    color: #1500d3;
}
h1{
    font-size: 2.2rem;
}
h2{
    font-size: 1.7rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-size: 1rem;
}
a{
    font-size: 1rem;
    text-decoration: none; 
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .rigth {
    margin-right: 15px;
    border-left: 0.5px solid gray;
    width: auto;
}
header nav .left{
    width: 100%;
    margin-left: 25px;
}
header nav .icon{
    margin-left: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #1500d3;
}
main{
    display: flex;
    height: 92vh;
    width: 100%;
}
.menu {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.menu .principal{
    margin-left: 25px;
    margin-top: 25px;
}
.menu .principal figure i{
    margin-right: 10px;
    font-size: 1rem;
}
.menu .main{
    margin-left: 15px;

}
.menu .main h5{
    margin-bottom: 10px;
}
.menu .main figure{
    margin-left: 10px;
    margin-bottom: 10px;
}
.menu .main figure i{
    margin-right: 10px;
    font-size: 1rem;
}
.menu .table{
    margin-left: 15px;

}
.menu .table h5{
    margin-bottom: 10px;
}
.menu .table figure{
    margin-left: 10px;
    margin-bottom: 10px;
}
.menu .table figure i{
    margin-right: 10px;
    font-size: 1rem;
}
main{
    width: 100%;
    height: 100vh;
}
.information{
    width: 80%;
}