@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-size: 15px;
}
i{
    font-size: 1.7rem;
    color: #294B29;
}
h1{
    font-size: 2.2rem;
    color: #294B29;
}
h2{
    font-size: 1.7rem;
    color: #294B29;
}
h3{
    font-size: 1.5rem;
    color: #294B29;
}
h6{
    color: #294B29;
}
p{
    font-size: 1rem;
    color: #294B29;
}
a{
    font-size: 1rem;
    color: #294B29;
    text-decoration: none; 
}
body{
    background-color: #DBE7C9;
}
main{
    display: flex;
    height: 100vh;
    width: 100%;
}
.menu {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
main .menu .icon{
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}
.menu .principal{
    margin-left: 25px;
    margin-top: 25px;
}
.menu .principal figure i{
    margin-right: 10px;
    font-size: 1.5rem;
}
.menu .main{
    margin-left: 15px;

}
.menu .main h5{
    margin-bottom: 10px;
}
.menu .main figure{
    margin-left: 10px;
    margin-bottom: 10px;
}
.menu .main figure i{
    margin-right: 10px;
    font-size: 1.5rem;
}
.menu .table{
    margin-left: 15px;
    margin-top: 50px;

}
.menu .table h5{
    margin-bottom: 10px;
}
.menu .table figure{
    margin-left: 10px;
    margin-bottom: 10px;
}
.menu .table figure i{
    margin-right: 10px;
    font-size: 1.5rem;
}
.menu .footer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
main{
    width: 100%;
    height: 100vh;
}
.information{
    width: 100%;
    margin: 25px 0;
    border: 1px solid gray;
    background-color: white;
    border-radius: 25px;
}
.information .title{
    height: 10vh;
    padding-left: 25px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}
.information .mainInformation{
    width: 98%;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.information .mainInformation .row{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
}
.information .mainInformation .column{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
}
.information .mainInformation .row figure{
    width: 250px;
    height: 350px;
    border-radius: 10px;
    border: 1px solid #294B29;
    overflow: hidden;
}
.information .mainInformation .row figure img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: contain;
}
.information .mainInformation .row figure h3{
    margin-left: 5px;
}
.information .mainInformation .row figure div{
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-evenly;
}
.information .mainInformation .row figure div button{
    background-color: #294B29;
    color: #DBE7C9;
    padding: 5px 10px;
    border-radius: 5px;
}
.information .mainInformation .column figure{
    width: 250px;
    height: 350px;
    border-radius: 10px;
    border: 1px solid gray;
    overflow: hidden;
}
.information .mainInformation .column figure img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: contain;
}
.information .mainInformation .column figure h3{
    margin-left: 5px;
}
.information .mainInformation .column figure div{
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-evenly;
}
.information .mainInformation .column figure div button{
    background-color: #294B29;
    color: #DBE7C9;
    padding: 5px 10px;
    border-radius: 5px;
}